@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #000;
    padding: 24px;
}
.sidebar .logo img{
    width: 130px;
}

.sidebar .navigation ul{
    list-style: none;
    margin-top: 20px;

}
.sidebar .navigation ul li{
    padding: 10px 0;
}
.sidebar .navigation ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.sidebar .navigation ul li .fa{
    font-size:20px ;
    margin-right: 12px;
}
.sidebar .navigation ul li a:hover{
    color:antiquewhite;
}
.sidebar .policies{
    position: absolute;
    bottom: 100px;
}
.sidebar .policies ul{
    list-style: none;
}
.sidebar .policies ul li{
    padding-bottom: 5px;
}
.sidebar .policies ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    margin-top: 400px;
}
.sidebar .policies ul li a:hover{
    text-decoration: underline;
}
.main-container{
    margin-left: 350px;
    margin-bottom: 400px;
}
.topbar{
    display:flex;
    justify-content: space-between;
    background-color: #000;
    padding: 14px 30px;
}
.topbar .prev-next-buttons button{
    color: #7a7a7a;
    font-size: 10px;
    cursor: not-allowed;
    border-radius: 100%;
    width:34px;
    height:34px;
    border:0px;
    background-color: #090909;
    margin-right: 10px;
}
.topbar .navbar{
    display: flex;
    align-items: center
}
.topbar .navbar ul{
    list-style: none;
    
}
.topbar .navbar ul li {
    display: inline-block;
    margin:0px 8px;
    width:78px;
}
.topbar .navbar ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover{
    text-decoration: underline;
    font-size: 15px;
    color:#fff;
}
.topbar .navbar button{
    background-color:#fff ;
    color: #0c0000;;
    font-size: 16px;
    font-weight:bold;
    padding: 14px 38px;
    border:0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}
.topbar .navbar button:hover{
    background-color: #f2f2f2;
}
.spotify-playlists{
    padding: 24px 10px;
}
.spotify-playlists h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlists .list{
    display: flex;
    gap: 24px;
    overflow: hidden;
}
.spotify-playlists .list .item{
    min-width: 150px;
    width:160px;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
    transition: all 0.3s ease;
    background-color: #181818;
}
.spotify-playlists .list .item:hover{
    background-color: #232323;
}

.spotify-playlists .list .item img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
}
.spotify-playlists .list .item .play{
   position: relative;
}
.spotify-playlists .list .item .play .fa{
    position: absolute;
    right:18px;
    top: -60%;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}
    
    
.spotify-playlists .list .item:hover .play .fa{
    opacity: 1;
}
.spotify-playlists .list .item h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}
.spotify-playlists .list .item p{
    color: #7a7a7a;
    font-size: 12px;
    cursor: pointer;
    font-weight:500px;
    line-height: 20px;
}
.spotify-playlists hr{
    margin: 70px 0px 30px;
    border-color: #636363;
}
.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}
.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}